{% load comments_tags %}
{% load static %}
{% load i18n %}

<div id="{{ id }}" class="star-ratings" data-max-rating="{{ star_count }}" data-avg-rating="{{ rating.average }}">
    <div class="star-ratings-rating-stars-container">
        <ul class="star-ratings-rating-background">
            {% mkrange 0 5 1 as star_list %}
            {% for star in star_list %}
                <li>
                    <span class="star-ratings-rating-empty rate_{{ star }}"></span>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>