 {% if object.user %}
    <p>{{ object.user.username }}</p>
	<a href="{% url 'user' object.user %}"><img style="height: 50px; width: 50px; display: inline;" src="{{ object.user.profile.profile_image_url }}" alt="{{ object.user.username }}"></a>
{% else %}
	<p>By: Guest </p>
{% endif %}
 <p  style="display: inline; margin-left: 10px" id='comment-{{ object.id }}'> {{ object.comment }} </p>
 <div id="comment-edit-{{ object.id }}" hidden>
	{% include "comments/comment_edit_form.html" with pk=object.id form=form %}
</div>
 <p style="position: absolute; bottom: 10px; right: 10px;">{{ object.created_at }}</p>
<br>
 <p id="likes-count-{{ object.id }}" style="position: absolute; top:10px; right:10px;" >Likes: {{ object.likes_count }}</p>
<span style="display: inline;">
{% if object.user %}
	{% if object.user.id == user.id %}
		<form class="comment-delete-form" method='DELETE' action="{% url "comment-delete" object.pk %}">
			<input value="{% csrf_token %}" id="csrf" hidden>
			{% csrf_token %}
			<input type="submit" value="Delete" class="comment-delete-btn" data-id="{{ object.id }}"/>
		</form>
	{% endif %}
{% endif %}
{% if object.user %}
	{% if object.user.id == user.id %}
		<button class='comment-edit-class' data-id='{{ object.id }}'> Edit</button>	
	{% endif %}
{% endif %}
{% if allow_likes %}	
	{% if liked %}
		<button class="like-comment-btn" id="like-btn-{{ object.id }}" data-like="liked" data-id="{{ object.id }}">Unlike</button>
	{% else %}
		<button class="like-comment-btn" id="like-btn-{{ object.id }}" data-like="like" data-id="{{ object.id }}">Like</button>
	{% endif %}	
{% endif %}
</span>