{% extends "stage9/base.html" %}
{% load comments_tags %}

{% block content %}
    <div class="cook_detail">
        {% if recipe.photo %}
        <img src="{{ MEDIA_URL }}{{ recipe.photo }}" style="display: inline-block; height: 250px; width: 250px; position:absolute; left:10px; top: 10px;">
        {% else %}
        <div class="block" style="height: 250px; position: absolute; width: 250px; background: lightblue; left:10px; top: 10px;"><h4>NO PHOTO</h4></div>
        {% endif %}
        <div class="ingredient_box">
            <p>INGREDIENTS:</p>
            {% for ingredient in recipe.ingredients.all %}
              <p> {{ ingredient }} </p>
            {% endfor %}
        </div>
        {% if request.user.is_authenticated %}
        <div class="favorite block" style="margin:10px; position: absolute; top:10px; right:110px;">
            {% include "cooks/favorite_form.html" %}
        </div>
        <div class="like block" style="margin:10px; position: absolute; top:10px; right:10px;">
            {% include "cooks/like_form.html" %}
        </div>
        {% if request.user.id == recipe.author_id %}
            <a href="{% url 'cooks:edit_recipe' recipe.title %}" class="edit_bt"><p>edit recipe</p></a>
        {%  endif %}
        {% endif %}
        <div class="cook_cont" style="display:inline-block; position: relative; padding-bottom: 80px; padding-right: 30px; left: 300px; top:35px;">
            <h1>{{ recipe.title }}</h1>
            <span class="stars">{% get_rating recipe %}</span>
            {% if recipe.author_id %}
                <p>AUTHOR:</p>
                <a href="{% url 'user' author %}"><img style="height: 50px; width: 50px; display: inline;" src="{{ author.profile.profile_image_url }}" alt="{{ author.username }}"></a>
            {% endif %}
            <p>{{ favorers }} users have this recipe as favorite</p>
            <p class="like_count block">{{ likes }}</p><p class="block">users like this</p>
            <h3>{{ recipe.summary|safe }}</h3>
            <p>HOW TO MAKE:</p>
            <p style="display: inline-block;">{{ recipe.description|safe }}</p>
        </div>
    <a href="{% url 'home' %}" class="back_bt" style="display: inline-block; font-size: 20px;">back</a>
    <p></p>
    </div>
    {% block main %}{% endblock %}

{% include "cooks/cooks_comments.html" %}

{%  endblock %}