{% load costume_filters %}

{% if recipe_list_search.count > 0 %}
<div onload="showPage()" style="display:none;" id="search_results_ajax" class="animate-bottom">
    {% for recipe in recipe_list_search %}
        <a href="{% url 'cooks:detail' recipe.slug %}">
            <div class="cook_item">
                <div class="cook_item_cont" >
                    <h3>{{ recipe.title }}</h3>
                    <p>{{ recipe.summary }}</p>
                    <br>
                    {% for ingredient in recipe.ingredients.all %}
                        <p style="display:inline-block">{{ ingredient.ingredient }} ,</p>
                    {% endfor %}
                {% if recipe.photo %}
                <div class="cook_item_back" style="background-image: url({{ MEDIA_URL }}{{ recipe.photo }});"></div>
                {% else %}
                <div class="cook_item_back"></div>
                {% endif %}
                </div>
            </div>
        </a>
    {% endfor %}
</div>
{% else %}
    {% if terms_entered %}
<div onload="showPage()" style="display:none;" id="search_results_ajax" class="animate-bottom">
    <h4>NOTHING MATCHES SEARCH</h4>
</div>
    {% else %}
<div onload="showPage()" style="display:none;" id="search_results_ajax">
    <h4>Hello dear hungry one!</h4>
    <p>This is a cooking guide for busy people, who dont have much spare time, who like to eat and are looking for an
        easy, fast and convenient way to search for recipes by the ingredients they have at home and share those recipes with friends.</p>
    <p>Here are some tips on how to use the website:</p>
    <ul>
        <li>Pick a comfy way to choose the ingredients you plan on cooking.</li>
        <li>Add your ingredients by choosing them from the drop-down menu or by typing them in directly.</li>
        <li>Recipes you can make will automatically appear and update as you add more ingredients.</li>
        <li><span class="allauth-link" datatype="login"><b>Login</b></span> with your favourite social media account or <span class="allauth-link" datatype="register"><b>register</b></span> for extra features.</li>
    </ul>
    <p>Bon appétit!</p>
    {% endif %}
</div>
{% endif %}


<script>
    function showPage() {
      document.getElementById("search_results_ajax").style.display = "block";
    }

    $(function(){
        $('div[onload]').trigger('onload');
    });



</script>