<div onload="showPage()" style="display:none;" id="myDiv" class="animate-bottom">
{% if recipe_list_search.count > 0 %}
    <p>{{ recipe_list_search }}</p>
    {% for recipe in recipe_list_search %}
        <a href="{% url 'cooks:detail' recipe.id %}">
            <div class="cook_item">
                <div class="cook_item_cont" >
                    <h3>{{ recipe.title }}</h3>
                    <p>{{ recipe.summary }}</p>
                    <br>
                    {% for ingredient in recipe.ingredients.all %}
                        <p style="display:inline-block">{{ ingredient.ingredient }} ,</p>
                    {% endfor %}
                <div class="cook_item_back" style="background-image: url({{ MEDIA_URL }}{{ recipe.photo }});">
                </div>
                </div>
            </div>
        </a>
    {% endfor %}
{% else %}
    <h4>NOTHING MATCHES SEARCH</h4>
{% endif %}
</div>

<script>
function showPage() {
  document.getElementById("myDiv").style.display = "block";
}

$(function(){
	$('div[onload]').trigger('onload');
});
</script>