{% if user.is_authenticated %}
    {% load friendshiptags %}
    <div style="display: inline; width: 300px; max-height: inherit; position: absolute; right:100px;" >
        <div style="display: inline-block; margin-right: 20px;">
            <p>Hi {{ request.user.username }}</p>
            <a href="{% url 'profiles:profile' %}">My profile   /</a>
            <a href="{% url "account_logout" %}">Logout</a>
        </div>
        <a href="{% url 'profiles:profile' %}"><img style=" position: absolute; height: 50px; width: 50px; display: inline;" src="{{ request.user.profile.profile_image_url }}" alt="profile picture"></a>
    </div>
{% else %}
    {% load socialaccount %}
    {% providers_media_js %}
    <form action="{% url "account_login" %}" method="post">
        {% csrf_token %}
        <input type="username" placeholder="Username" name="login">
        <input type="password" placeholder="Password" name="password">
        <label for="id_remember_menu" class="text-primary">Remember Me:</label>
        <input id="id_remember_menu" name="remember" type="checkbox">
        {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <button type="submit">Login</button>
        <a href="{% url 'account_reset_password' %}">Forgot Password?</a>
    </form>
    <a href="{% provider_login_url "facebook" method="js_sdk" %}">Facebook Connect</a>
{% endif %}
