{% extends "stage9/base.html" %}

{% block content %}

    <h1> welcome {{ user.username }}</h1>
    {% if request.user.profile.account_verified %}
        <p>(verified)</p>
    {% else %}
        <p>(unverified)</p>
    {% endif %}
    <p><a href="{% url 'profiles:account_update' %}">Update your profile NOW</a></p>
    <p>{{ user.first_name }}</p>
    <p>{{ user.last_name }}</p>
    <p>{{ user.email }}</p>
    <p>{{ user.profile.bio }}</p>
    <p>{{ user.profile.country }}</p>
    <p>{{ user.profile.city }}</p>
    <p>{{ user.profile.phone }}</p>
    <p>{{ user.profile.organization }}</p>
    <p>{{ user.profile.website }}</p>
    <p>{{ user.profile.photo }}</p>
<!-- stage9.public.profiles_userprofile
stage9.public.auth_user--!>
{% endblock %}

{% block profile_pic %}
    <img src="{{ UserProfile.profile_image_url }}" alt="profile picture">
{% endblock %}