{% extends "stage9/base.html" %}
{% load friendshiptags %}
{% block content %}
{% if request.user.username == profile_view.username %}
    <h1>HELLO {{ request.user.username }}</h1>
{% else %}
    <h1>PROFILE OF: {{ profile_view.username }}</h1>
{% endif %}
    {% if profile_view.profile.account_verified %}
        <p>(verified)</p>
    {% else %}
        <p>(unverified)</p>
    {% endif %}
    <img src="{{ profile_view.profile.profile_image_url }}" alt="profile picture">
    {% if request.user.username == profile_view.username %}
        <div style="display: inline-block; margin-right: 20px;">
            <p>followers: {{ followers }}</p>
        </div>
        <p><a href="{% url 'profiles:account_update' %}">Update your profile NOW</a></p>
        <a href="{% url 'profiles:my_recipes' request.user %}">LOOK AT MY RECIPES</a>
    {% endif %}
    {% if request.user.username != profile_view.username and request.user.is_authenticated %}
        <div class="friendstuff" style="margin:10px;">
            {% include "stage9/follow_form.html" %}
            <a href="{% url 'messages:messages_compose_to' profile_view.username %}"><div class="msg_user">SEND MESSAGE</div></a>
        </div>
        <a href="{% url 'my_recipes' profile_view %}">LOOK AT RECIPES BY {{ profile_view.username }}</a>
    {% endif %}
    <p>{{ profile_view.first_name }}</p>
    <p>{{ profile_view.last_name }}</p>
    <p>{{ profile_view.email }}</p>
    <p>{{ profile_view.profile.bio }}</p>
    <p>{{ profile_view.profile.country }}</p>
    <p>{{ profile_view.profile.city }}</p>
    <p>{{ profile_view.profile.phone }}</p>
    <p>{{ profile_view.profile.organization }}</p>
    <p>{{ profile_view.profile.website }}</p>
{% endblock %}

{% block profile_pic %}
{% endblock %}