#side_navbar {
    position: absolute;
    border-left: 2px solid #555555;
    border-top: 2px solid #555555;
    border-bottom: 2px solid #555555;
    top: 0;
    right: 0;
    width: 128px;
    height: 600px;
    border-bottom-left-radius: 10px;
    background-color: white;
    z-index: 5;
}

#side_navbar_cont {
    position: relative;
}

#side_navbar_meanu_icon {
    margin-top: 3px;
    color:black;
    font-size: 3em;
}

#side_navbar_btn {
    background-color: white;
    width: 52px;
    height: 52px;
    text-align: center;
    position: absolute;
    top: -2px;
    left: -52px;
    border-left: 2px solid #555555;
    border-top: 2px solid #555555;
    border-bottom: 2px solid #555555;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

#side_navbar_items_cont {
    position: relative;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 26px;
}

.side_navbar_items {
    width: 92px;
    height: 80px;
    text-align: center;
    margin-bottom: 20px;
}

#side_bar_profile{
    height: 100px;
    margin-bottom: 10px;
}

.side_navbar_icons {
    font-size: 4em;
    color: black;
    display: block;
}

.side_navbar_text {
    font-size: 10pt;
    font-weight: bold;
}

#side_bar_profile_img {
    display: block;
    margin-left: 15px;
    margin-bottom: 10px;
}

#side_bar_favs {
    height: 100px;
}

#side_bar_logout {
    padding-top: 10px;
    height: 30px;
}

#side_bar_profile:hover {

}

#side_bar_msg:hover {
    color: #026767;
}

#side_bar_msg .side_navbar_icons:hover {
    color: #026767;
}

#side_bar_post:hover {
    color: #670234;
}

#side_bar_post .side_navbar_icons:hover {
    color: #670234;
}

#side_bar_my:hover {
    color: #040234;
}

#side_bar_my .side_navbar_icons:hover {
    color: #040234;
}

#side_bar_favs:hover {
    color: #cc3434;
}

#side_bar_favs .side_navbar_icons:hover {
    color: #cc3434;
}

#side_bar_logout:hover {
    color: yellow;
}